.header-banner{
  .header-image{
    background-image: url("https://s3-ap-southeast-2.amazonaws.com/racevic.static/2017-01-01/flemington/photofinishes/race-2.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.header-banner .header-text{
  background-color: #000;
  color: #fff;
  padding: 10px 0;
}
.header-banner .header-text .circle-white{
  display: inline-block;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #000;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}
.header-banner .header-image{
  background-image: url("https://s3-ap-southeast-2.amazonaws.com/racevic.static/2017-01-01/flemington/photofinishes/race-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  position: relative;
}
.header-image .search-button{
  font-family: "Glyphicons Halflings";
  border: 1px solid red;
  text-align: left;
  position: absolute;
  bottom: 10px;
}

.race-results{
  padding: 10px 0;
}
.race-results .race-result-header{
  font-size: 1.2em;
}
.race-results .race-result-item-thumbnail{
  float: left;
  display: inline-block;
  width: 40px;
  height: auto;
}
.race-results .race-result-item-thumbnail > img{
  width: 100%;
  height: auto;
}
.race-results .race-result-item{
  border-bottom: 1px solid #ddd;
}